@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* colors */
  --color-primary: #0A033C;
  --color-secondary: #323B53;
  --color-accent: #F58655;
  /* fonts */
  --font-pop: var(--font-popins);
  --font-raleway: var(--font-raleway);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-pop {
  font-family: var(--font-pop);
}

.font-raleway {
  font-family: var(--font-raleway);
}