@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-poppins: var(--font-poppins);
  --font-raleway: var(--font-raleway);

  /* colors */
  --color-primary: #0A033C;
  --color-secondary: #323B53;
  --color-accent: #F58655;
  --color-dark: #152129
}

body {
  background: var(--background);
  color: var(--foreground);
}

.review-gradient {
  background: linear-gradient(0.00deg, rgba(0, 0, 0, 1) 0.112%,rgba(16, 28, 61, 1) 11.801%,rgba(64, 73, 100, 0) 64.912%,rgba(95, 103, 125, 0) 99.888%);
}

.master-pieces-slider .slick-dots {
    bottom: -60px;
}

.master-pieces-slider .slick-dots li button:before {
    color: white !important;
    font-size: 11px;
    opacity: 0.3;
}

.master-pieces-slider .slick-dots li.slick-active button:before {
    opacity: 1;
}

.slick-dots {
  bottom: -123px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.slick-dots li {
  width: 11px !important;
  height: 11px !important;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .52);
}

.slick-dots li button {
  opacity: 0;
}

.slick-dots .slick-active {
  width: 15px !important;
  height: 15px !important;
  background-color: rgb(255, 255, 255) !important;
}